/* Styles for the navContainer */
.navContainer {
  position: fixed;
  z-index: 100;
  user-select: none;
  font-family: var(--font--family);
  top: var(--grid-app-xheight);
  left: var(--grid-app-margin);
  display: flex;
  flex-direction: column;
  display: block; // Default visibility for larger screens

  /* Hide by default on smaller screens; controlled by .hidden and .visible classes */
  @media (max-width: 1080px) {
    display: none;
  }

  &.fullscreen {
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: var(--color--background--100);
    z-index: 101;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 10rem;
    padding-left: var(--grid-app-margin);
    opacity: 0;
    visibility: hidden; // Initially hidden
    transition: opacity 0.3s ease-out 0.3s, visibility 0s linear 1s; // Apply delay here

    /* Increase font size of nav items when fullscreen is active */
    .navitem {
      font-size: var(--font--size-medium); 
    }
  }

  &.visible {
    opacity: 1;
    visibility: visible; // Show menu with a delay
    transition: opacity 0.3s ease-out;
  }

  &.hidden {
    opacity: 0;
    visibility: hidden; // Hide menu
  }

  .navMenu{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 50%
  }

  .navitem {
    font-size: var(--font--size-regular);
    padding: 2px 0;
    color: var(--color--foreground--33);
    opacity: 0; // Initially hide the items
    transition: color 0.3s;

    /* Animate each item to fade in */
    animation: fadeIn 0.3s ease-out forwards; // Apply the animation

    &:hover {
      cursor: pointer;
      color: var(--color--foreground--100);
    }

    &.navItemActive {
      color: var(--color--foreground--100);
    }

    /* Staggered animation delay using nth-child */
    &:nth-child(1) {
      animation-delay: 0s;
    }
    &:nth-child(2) {
      animation-delay: 0.1s;
    }
    &:nth-child(3) {
      animation-delay: 0.2s;
    }
    &:nth-child(4) {
      animation-delay: 0.3s;
    }
    &:nth-child(5) {
      animation-delay: 0.4s;
    }
    &:nth-child(6) {
      animation-delay: 0.5s;
    }
  }

  /* Adjust spacing for mobile view within .fullscreen */
  .fullscreen .navitem {
    padding: 4px 0; // Increased spacing between items for mobile view
  }

  /* Display Socials below MenuItems only on smaller screens (mobile) */
  .fullscreen .socialLinksMenu {
    display: flex;
    flex-direction: column;
    margin-top: 20px;  /* Adjust spacing if necessary */
  }
}

/* Menu items fade in after fullscreen is visible */
.navContainer.fullscreen.visible .menuItems {
  opacity: 1;
  visibility: visible;
}

.navContainer.fullscreen + .overlay {
  opacity: 1;
  visibility: visible;
}

/* Body content fades out when menu is visible */
.bodyContent.menuOpen {
  opacity: 0.2;
}

/* Keyframe for fadeIn animation */
@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.socialLinksMenu {
  position: fixed;
  left: var(--grid-app-margin);
  bottom: calc(var(--grid-app-margin) + 40px);
  z-index: 100;
  display: flex;
  flex-direction: column;
}

/* Hide .socialLinksMenu on screens smaller than 1080px */
@media (min-width: 1080px) {
  .socialLinksMenu {
    display: none;
  }
}

.socialLinks {
  font: var(--font--size-small);
  color: var(--color--foreground--100);
  transition: color 0.3s; /* Smooth color transitions */
  position: relative; /* For pseudo-elements and arrow animation */
  animation: fadeIn 0.3s ease-out forwards; /* Apply the animation */
  display: inline-block;
}

.socialLinks:hover {
  cursor: pointer;
  color: var(--color--foreground--100);
  text-decoration: underline; /* Add underline on hover */
}

.arrow {
  display: inline-block;
  font-size: 1.2rem; /* Adjust arrow size */
  transition: color 0.3s ease-in-out; /* Animate arrow movement */
  color: var(--color--foreground--33)
}

.socialLinks:hover .arrow {
  color: var(--color--foreground--100); /* Optionally change arrow color on hover */
}
