:root {
  --font--family: 'Roboto', sans-serif;
  --font--style: normal;

  --font-weight-regular: 300;  /* For normal text */
  --font-weight-bold: 700;     /* For bold text */

  --font--size-small: 12px;
  --font--size-regular: 16px;
  --font--size-medium: 22px;

  --grid-app-columns: var(--grid-app-columns-12);
  --grid-app-columns-12: repeat(12, [col-start] 1fr);
  --grid-app-columns-6: repeat(6, [col-start] 1fr);
  --grid-app-columns-4: repeat(4, [col-start] 1fr);
  --grid-app-columns-3: repeat(3, [col-start] 1fr);
  --grid-app-columns-2: repeat(2, [col-start] 1fr);
  --grid-app-columns-1: repeat(1, [col-start] 1fr);
  --grid-app-gutter: 20px;
  --grid-app-xheight: 220px;
  --grid-app-margin: 80px;
  --grid-app-margin-mobile: 40px;

}