.intro{
  height: 100VH;
  position: relative;
  font-size: 1vw;
  background: var(--color--background--100);
  border-bottom: solid 1px var(--color--foreground--33);
  z-index: 2;
}

.description p{
  margin: 0px;
  position: relative;
}