.passionProjectContainer {
  position: relative;
  margin-top: 10rem;
  margin-bottom: 10rem;
}

.passionDescription{
  display: flex;
  height: 800px;
  justify-content: space-between;
  gap: 5%;
}

.column{
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 40%;
}

.projectList{
  display: flex;
  flex-direction: column;
  position: relative;
  margin-top: 250px;
}

.column p {
  color: gray
}