.contact {
  position: relative;
  height: 750px;

  @media (max-width: 1280px) {
    height: 1200px;
  }

}

.footerContainer {
  position: fixed;
  height: 750px;
  bottom: 0;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  @media (max-width: 1280px) {
    height: 1200px;
  }
}

.contactContainer {
  padding: 5rem var(--grid-app-margin);
  display: grid;
  grid-template-columns: var(--grid-app-columns-6);
  gap: var(--grid-app-gutter);

  @media (max-width: 1280px) {
    grid-template-columns: var(--grid-app-columns-6); // Uses the 4-column setup
  }

  @media (max-width: 1020px) {
    padding: 0 40px;
    grid-template-columns: var(--grid-app-columns-3); // Uses the 4-column setup
  }

  @media (max-width: 300px) {
    padding: 0 20px;
    grid-template-columns: var(--grid-app-columns-1); // Uses the 4-column setup
  }
}

.contactTextContainer {
  display: flex;
  flex-direction: column;
  gap: 10rem;
  grid-column: 2 / span 3;
  justify-content: space-between;

  @media (max-width: 1280px) {
    grid-column: 2 / -3;
  }
  @media (max-width: 1024px) {
    grid-column: 1 / -1;
    gap: 6rem;
  }
}

.body{
  max-width: 1400px;
  display: flex;
  gap: 50px;
  position: relative;
  h2{
      margin: 0px;
      &:nth-of-type(1){
          gap: 8px;
          line-height: 1.3;
          span{
              margin-right: 6px;
          }
          .mask{
              position: relative;
              overflow: hidden;
              display: inline-flex;
          }
      }
      &:nth-of-type(2){
          width: 80%;
          font-weight: 300;
      }
}}

.social{
  display: flex;
  justify-content: space-between;
  div{
      display: flex;
      gap: 10px;
      align-items: flex-end;
      a, h3{
          margin: 0px;
          padding: 2.5px;
          cursor: pointer;
      }
      a{
          &::after{
              content: "";
              width: 0%;
              height: 1px;
              background-color: var(--color--foreground--100);
              display: block;
              margin-top: 2px;
              position: relative;
              left: 50%;
              transform: translateX(-50%);
              transition: width 0.2s linear;
          }
          &:hover{
              &::after{
                  width: 100%;
              }
          }
      }
      span{
          display: flex;
          flex-direction: column;
          gap: 15px;
      }
      h3{
          color: grey;
          cursor: default;
          font-weight: 300;
      }
  }
  
}

.brand {
  grid-column: -3 / -1; /* Spans the last two columns */
  display: flex; /* Align image inside */
  justify-content: flex-end;
  align-items: center;
  align-items: flex-start;
  
  @media (max-width: 1024px) {
    grid-column: 2 / span 2;
    justify-content: flex-start;
  }

  @media (max-width: 1024px) {
    grid-column: 1 / -1;
  }
}

.brand img {
  padding-top: 15px;
  padding-bottom: 10px;
  width: 100%; /* Full width of the grid column */
  height: auto; /* Maintain aspect ratio */
  max-width: 500px; /* Optional: cap maximum width */
  object-fit: cover; /* Ensure image fits nicely */
  opacity: 80%;
}

.footer {
  display: grid;
  padding: 2rem var(--grid-app-margin);
  padding-bottom: 2rem;
  grid-template-columns: var(--grid-app-columns-6);
  gap: var(--grid-app-gutter);

  @media (max-width: 1280px) {
    grid-template-columns: var(--grid-app-columns-6); // Uses the 4-column setup
  }

  @media (max-width: 1020px) {
    padding: 2rem 40px;
    grid-template-columns: var(--grid-app-columns-3); // Uses the 4-column setup
  }

  @media (max-width: 300px) {
    padding: 0 20px;
    grid-template-columns: var(--grid-app-columns-1); // Uses the 4-column setup
  }
}

.footerContent {
  display: flex; /* Allows flexibility */
  grid-column: 2 / -1;
  justify-content: space-between;
  border-top: 1px solid var(--color--foreground--33);

  @media (max-width: 1280px) {
    grid-column: 2 / -1;
  }
  @media (max-width: 1024px) {
    grid-column: 1 / -1;
  }
}

.footer span p:first-child {
  margin-top: 1rem;
  color: var(--color--foreground--33);
  font-size: 12px;
}

.footer span p:last-child {
  padding-top: 0.5rem;
  color: var(--color--foreground--100);
  font-size: 14px;
  margin: 0;
}

/* Optional for responsiveness or specific styling */
@media (max-width: 768px) {
  .footer {
    flex-direction: column; /* Stack elements vertically on small screens */
    align-items: center;
  }
}
