.playgroundContainer{
  position: relative;
  z-index: -1;
  margin-top: -150vh;
  height: 110vh;
  position: relative;
  font-size: 1vw;
  overflow: hidden;
  // top: calc(var(--grid-app-xheight) + 10rem);
  // border-top: 0.25px solid var(--color--foreground--33);
  // border-bottom: 0.25px solid var(--color--foreground--33);
  background-color: var(--color--foreground--0);
  background-image: radial-gradient(circle, var(--color--foreground--33) 1px, transparent 1px);
  background-size: 20px 20px; /* Adjust spacing of the dots */
  cursor: none;
  border-top: 0.5px solid var(--color--foreground--33);
  border-bottom: 0.5px solid var(--color--foreground--33);
  // opacity: 0;
  // transition: opacity 0.2s ease-in-out, z-index 0s; 

  &.active {
    z-index: 2; // Increases z-index when scrolled past 50%
    // opacity: 1;
    // transition: opacity 0.2s ease-in-out, z-index 0s;
  }
}

.cursor {
  position: fixed;
  pointer-events: none;
  z-index: 1;  
}


.playgroundTitle{
  position: relative;
  top: -175vh;
  padding: 0 var(--grid-app-margin);
  display: grid;
  grid-template-columns: var(--grid-app-columns-6);
  gap: var(--grid-app-gutter);

  @media (max-width: 1280px) {
    grid-template-columns: var(--grid-app-columns-6); // Uses the 4-column setup
  }

  @media (max-width: 1020px) {
    padding: 0 40px;
    grid-template-columns: var(--grid-app-columns-3); // Uses the 4-column setup
  }

  @media (max-width: 300px) {
    padding: 0 20px;
    grid-template-columns: var(--grid-app-columns-1); // Uses the 4-column setup
  }

  h2 {    
    margin: 0px;
      &:nth-of-type(1){
      gap: 8px;
      line-height: 1.3;
      span{
        margin-right: 6px;
      }
      .mask{
        position: relative;
        overflow: hidden;
        display: inline-flex;
      }
    }
    &:nth-of-type(2){
      width: 80%;
      font-weight: 300;
    }

    // position: relative;
    grid-column: 2 / -2;
  
    @media (max-width: 1280px) {
      grid-column: 2 / -2;
    }
    @media (max-width: 1020px) {
      grid-column: 1 / -1;
    }
  }
}

.body{
  max-width: 1400px;
  display: flex;
  gap: 50px;
  position: relative;
  h2{
      margin: 0px;
      &:nth-of-type(1){
          gap: 8px;
          line-height: 1.3;
          span{
              margin-right: 6px;
          }
          .mask{
              position: relative;
              overflow: hidden;
              display: inline-flex;
          }
      }
      &:nth-of-type(2){
          width: 80%;
          font-weight: 300;
      }
}}

.draggable {
  position: absolute;
  width: 150px;
  object-fit: cover;
  cursor: grab;
}

.draggableText {
  cursor: grab;
  font-size: 60px;
  color: var(--color--foreground--100);
}