.mainContainer {
  margin: 10%;
  display: flex;
  flex-direction: column;
}
.contentContainer{
  display: flex;
  gap: 10%;
}

.content {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.heading {
  display: flex;
  align-items: center;
  justify-content: center;
}

.img {
  object-fit: cover;
}

.menu {
  position: sticky;
  top: 0;
  align-self: flex-start;
  padding-top: 7rem;
  z-index: 1000;
}