.themeContainer {
  position: fixed;
  left: calc(var(--grid-app-margin) - 12px);
  bottom: calc(var(--grid-app-margin) + 40px);
  z-index: 100;
}

.circleContainer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}

.circle {
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  cursor: pointer;
  z-index: 1000;
  border: 1px solid var(--color--foreground--100);
}

/* Individual theme colors for circles */
.theme01 {
  background-color: rgb(255, 255, 255); // White circle
}

.theme02 {
  background-color: rgb(0, 0, 0); // Black circle
}

.theme03 {
  background-color: rgb(46, 50, 72); // Dark blue circle
}
