.headerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 3rem 6rem 0 6rem
}

.rightContainer{
  display: flex;
  gap: 3rem;
}

.navContainer {
  display: flex;
  gap: 2rem;
}

.circleContainer {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.circle {
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  cursor: pointer;
  z-index: 1000;
}

.white {
  background-color: white;
  border: 1px solid #1C1D20;
}

.black {
  background-color: black;
  border: 0.1px solid white;
}
